.app-container {
  width: 1280px;
  height: 800px;
  background-color: gray;
  border-color: 5px solid black;

  display: flex;
  flex-direction: column;
}

.app-body {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.menu-section {
  background-color: blue;
  flex: 7.5;
  width: 70%;
}

.order-section {
  flex: 2.5;
  background-color: yellow;

  display: flex;
  flex-direction: column;
}

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* true center */
  background: white;
  z-index: 11; /* above overlay */
  padding: 20px;
  width: 400px;
}

.overlay.active {
  display: block;
}
.popup.active {
  display: block;
}

/* .overlay { */
/*   display: block; */
/* } */
/* .popup { */
/*   display: block; */
/* } */
