.database {
  margin: 0 auto;
  padding: 20px;
  color: #333;
  background-color: whitesmoke;
}

.database-body {
  background-color: floralwhite;
  width: 100%;
  max-height: 1000px;

  .action {
    display: flex;
    justify-content: space-between;
  }
}

.database-header {
  display: flex;
  flex-direction: row;
}

.database-header h2 {
  background-color: lightskyblue;
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.database-header h2:hover {
  background-color: gray;
}

#new-order-btn {
  left: 1;
}

.database-pagination-header {
  height: 50px;
  background-color: rosybrown;
  align-items: center;
  display: flex;
  justify-content: space-between;

  form {
    margin: 0;
    padding: 0;
  }

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

.table-container {
  width: 100%;
  height: 100%;
  background-color: lightskyblue;

  th,
  td {
    border: 2px solid black;
    padding: 5px;
  }
}

.database-table {
  width: 100%;
  text-align: center;
  align-items: center;

  .input-cell {
    border: none;

    input {
      width: 20px;
      height: 20px;
    }
  }
  .product-name {
    width: 30rem;
  }
}

/* .database-table .product-id { */
/*   width: 6rem; */
/* } */
/**/
/* .database-table .discount { */
/*   width: 4rem; */
/* } */
/**/
/* .database-table .category { */
/*   width: 7rem; */
/* } */
/**/
/* .database-table .created-at { */
/*   width: 7rem; */
/* } */

.database-pagination-footer {
  width: 100%;
  height: 50px;
  background-color: red;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination,
.pagination-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;
}

.pagination-items {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.pagination button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 36px;
  min-width: 36px;
  padding: 0 12px;

  background-color: #eee;
  text-decoration: none;
  color: black;
  border: 1px solid black;

  line-height: 1;

  cursor: pointer;

  &.active {
    background-color: gray;
    color: white;

    &:hover,
    &:focus {
      background-color: gray;
    }
  }

  &:hover {
    background-color: #ddd;
  }
}
