body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1500px;

  font-family: sans-serif;
}

.main-header {
  display: flex;
  background-color: yellow;
}

.main-header h2 {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

section {
  width: 100%;
  display: flex;

  flex-direction: column;
  display: none;
}

.row-1 {
  display: flex;
  flex-direction: row;
}

.current-status {
  width: 70%;
  background-color: red;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.current-status-body {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.today-turnover {
  width: 30%;
  background-color: gray;
  text-align: center;
}

section.active {
  display: flex;
}
